



form {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 45vh;
    width: 90%;
    border: 2px solid #f5e89b;
    border-radius: 15px;
    margin-top: 50px;
    background-color: #454c54;
    opacity: 0.9;
}

.utilisateur {
    display: flex;
    justify-content: space-around;
}

.utilisateur input {
    width: 38%;
    height: 30px;
    margin-bottom: -50px;
}

.mail-mdp {
    display: flex;
    flex-direction: column;
    height: 55%;
    justify-content: space-around;
    padding: 20px;
}

input {
    height: 30px;
    border-radius: 15px;
    border: 2px solid #f5e89b;
    background-color: #454c54;
    margin-bottom: 15px;
}

::placeholder {
    padding-left: 10px;
    color: white;
}

button {
    width: 50%;
    margin: auto;
    height: 40px;
    border-radius: 15px;
    margin: 0;
    border: 2px solid #f5e89b;
    background-color: #1F87BD;
    color: white;
    margin-left: 50%;
    translate: -50%;
    cursor: pointer;
}


@media screen and (min-width : 400px) {
    

    form {
        margin: auto;
        width: 38%;
        height: 63vh;
    }

    .utilisateur input {
        width: 40%;
        height: 40px;
        margin-bottom: 20px;
    }
    .mail-mdp {
        margin-top: -30px;
    }

    
} 